<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        body{
            box-sizing: border-box;
            margin:0;
            padding:0;
        }
        .flex-wrapper {
            display: flex;
        }

        .item {
            width: 2000px;
        }

        .item {
            font-size: xx-large;
            padding-left: 1rem;
            border: 2px solid;
            border-radius: 4px;
            background: hotpink;
            margin: 16px;
        }
    </style>
</head>

<body>
    <div class="item">withtout flex</div>
    <div class="flex-wrapper">
        <div class="item">with flex</div>
    </div>
</body>

</html>