<h3 class="title">Apply for International Admissions</h3>
<div class="notify">
    Citizenship and Immigration Status
</div>

<article class="message">
    <div class="message-body">
        Select <strong>Study Permit (study visa)</strong> if one of the following applies:
        <ol>
            <li>You plan to study in Canada</li>
            <li>You are in Canada on a work or visitor visa</li>
            <li>You reside outside of Canada and are not a Canadian Citizen/Permanent Resident</li>
        </ol>
        <br>Select <strong>Other</strong> if one of the following applies:
        <ol>
            <li>Plan to study online with no intension of coming to Canada</li>
            <li>Refugee Claimant (have NOT had your hearing with a positive decision)</li>
            <li>Diplomatic status</li>
            <li>Unsure of status</li>
        </ol>
    </div>
</article>

<form action="">

    <button value="Next" id="agent_information" onclick="onclick_loadform(event)">
        Next
    </button>
</form>