body {
  font-family: 'Lato', sans-serif;
}

#hero {
  background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.1)),
    url('https://media.istockphoto.com/id/1324402462/photo/summer-ice-cream-buffet-table-with-a-variety-of-flavors-and-sweet-toppings-overhead-view-on.jpg?s=1024x1024&w=is&k=20&c=aJelqg7cQCJUBpsXWgg9ywbiVJU0-yp5uE-Ruy--Mmw=');
  height: 600px;
  background-size: cover;
  color: #fff;
}

.container {
  max-width: 700px;
  margin: 0 auto;
}

/*nav bar start*/
#hero h1 {
  margin: 0;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav ul {
  display: flex;
  list-style-type: none;
}

nav ul li {
  margin: 0 1rem;
  font-weight: 700;
}
/*nav bar end*/


.content {
  text-align: center;
  font-size: 4rem;
  margin-top: 100px;
  font-weight: 800;
  text-transform: uppercase;
}

.content button {
  font-size: 2rem;
  color: #fff;
  background-color: #2f70d8;
  border: none;
  padding: .5rem 2rem;
  cursor: pointer;
  transition: all .3s ease;
}

.content button:hover {
  background-color: #08347a;
}