<!-- <nav>
    <h1>Indian Cousine</h1>
    <ul>
        <li><a href="./index.html">Home</a></li>
        <li><a href="pages/menu/index.html">Menu</a></li>
        <li><a href="pages/group_catering/index.html">Group Catering</a></li>
        <li><a href="pages/takeout/index.html">Takeout</a></li>
        <li><a href="pages/find_location/index.html">Find Location</a></li>
    </ul>
</nav>
 -->

<nav>
    <h1>Wisdom College</h1>
    <ul>
        <li><span >&nbsp;&nbsp;&nbsp;&nbsp;</span></li>
        <li><a href="pages/programs/index.html">Programs</a></li>
        <li><a href="pages/admissions/index.html">Admissions</a></li>
        <li><a href="pages/financial_aid/index.html">Financial Aid</a></li>
        <li><a href="pages/international/index.html">International Education</a></li>
        <li><a href="pages/student_life/index.html">Student Life</a></li>
        <li ><a id="li-applynow" href="pages/apply_now/index.html">Apply Now</a></li>
    </ul>
</nav>