doctype html
html
  head
    title #{title}
    meta(name="viewport" content="width=device-width, initial-scale=1")
  body
    main
        header.header
            h1 #{msg}
            h2 <b>User Name:</b>
            h2 #{username1}
            h2 <b>Password:</b>
            h2 #{pwd}