<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width" />
  <title>Media Queries: a simple mobile first design, step 2</title>
  <link rel="stylesheet" href="css/step2.css">
</head>

<body>
  <div class="wrapper">
    <header>
      <nav>
        <ul>
          <li><a href="">About</a></li>
          <li><a href="">Contact</a></li>
          <li><a href="">Meet the team</a></li>
          <li><a href="">Blog</a></li>
        </ul>
      </nav>
    </header>
    <main>
      <article>
        <div class="content">
          <h1>Veggies!</h1>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestias maxime nihil aspernatur, veritatis
            nostrum repudiandae blanditiis magni qui ratione, id voluptas! Sequi illum laboriosam provident quasi
            incidunt dolore saepe praesentium.
          </p>

          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Quaerat cumque quidem asperiores impedit, nostrum
            nesciunt? Officia officiis, deserunt iusto nulla reiciendis explicabo ullam quasi sunt possimus iure aliquam
            excepturi facere! Lorem ipsum dolor sit amet consectetur adipisicing elit. Illo quidem incidunt impedit, ab
            eaque perferendis nisi inventore nesciunt repellendus odio architecto repudiandae eligendi dolore ducimus
            vero optio perspiciatis, laboriosam dicta.
          </p>

          <p>
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Similique illo excepturi vero quam consectetur
            nesciunt sint itaque consequuntur blanditiis sapiente? Sed ad maxime delectus enim veniam laborum sit,
            accusantium velit! Lorem ipsum dolor sit amet consectetur, adipisicing elit. Eligendi tempore dolorum quia
            nam eaque velit sed quod magnam, animi aliquid, doloribus eveniet cumque fugiat porro? Hic odit perferendis
            quasi beatae?
            Molestias atque eaque enim, laboriosam libero unde, repellat earum, quo dicta asperiores id. Officia eius,
            ullam quos esse, laborum nisi atque nemo velit id commodi doloremque exercitationem molestiae quam sit.
            Pariatur minus libero ipsum nulla. Iste aperiam natus totam nam veritatis eligendi veniam praesentium esse
            neque dicta? Repudiandae ad id officiis assumenda ea delectus eum, veniam neque sunt minus totam.
          </p>

          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Illum consequatur fuga esse est laudantium, vero
            sequi iure totam cupiditate illo aliquam, reiciendis quod quibusdam saepe ipsa dignissimos beatae ab odit!
          </p>
        </div>
        <aside class="related">
          <p>
            All these veggies are brought to you by the
            <a href="https://veggieipsum.com/">Veggie Ipsum generator</a>.
          </p>
        </aside>
      </article>

      <aside class="sidebar">
        <h2>External vegetable-based links</h2>
        <ul>
          <li>
            <a href="https://www.thekitchn.com/how-to-cook-broccoli-5-ways-167323">How to cook broccoli</a>
          </li>
          <li>
            <a href="https://www.bbcgoodfood.com/glossary/swiss-chard">Swiss Chard</a>
          </li>
          <li>
            <a href="https://www.bbcgoodfood.com/recipes/collection/christmas-parsnip">Christmas Parsnip Recipes</a>
          </li>
        </ul>
      </aside>
    </main>

    <footer>
      <p>&copy;2023</p>
    </footer>
  </div>
</body>

</html>