html {
  background-color: #333;
}

* {
  margin: 10px;
  padding: 10px;
}

body > *,
main > * {
  outline: 1px #ccc solid;
}

nav {
  background-color: #ccc;
}

main {
  background-color: grey;
}

header,
footer {
  text-align: center;
  background: #ddaa00;
  color: white;
}

body,
nav,
main,
article {
  display: flex;
}

body,
article {
  flex-direction: column;
  background-color: white;
  margin: 5px;
}

article {
  flex: 1 1 33%;
}

img {
  width: 100%;
  background-color: #ccc;
  padding: 0;
}

h1 {
  margin: 0;
}

p {
  flex: 1 0 auto;
}

nav {
  display: flex;
  padding: 5px 2px;
}

nav a {
  flex: 1 0;
  margin: 0 5px;
  background-color: white;
  color: #ddaa00;
  text-align: center;
  text-decoration: none;
  border: 1px solid #333;
}
