body {
    font-family: 'Lato', sans-serif;
}

#container {
    padding-top: 1em;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 96vw;
    height: 96vh;

}

.content {
    box-sizing: border-box;
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    border: 1px solid #585b63;
    flex-wrap: wrap;
}

/*child page nav bar*/
header {
    width: 100%;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid #585b63;
}

nav h1 {
    text-wrap: nowrap;
}

nav ul {
    display: flex;
    list-style-type: none;
}

nav ul li {
    margin: 0 1rem;
    font-weight: 700;
}

nav ul li:hover {
    background-color: #cfd1d5;
}

nav ul li>a {
    color: rgba(0, 0, 0, 1);
    text-decoration: none;
    text-overflow: ellipsis;
    white-space: nowrap;
}