
main#container .main-section{
    display: flex;
    width: 100%;
    border: 1px solid #585b63;
}

main#container .main-section> .side-nav-container{
    flex: .8;
    padding: 1rem;
}

main#container .main-section> .form-container{
    flex: 2.2;
    padding: 1rem;
}

main#container .main-section> .side-nav-container aside ul{
    list-style-type: none;
    padding-left:1rem;
}

main#container .main-section> .side-nav-container aside ul li{
    padding:.25rem 0;
}

.notify{
    margin:1rem auto;
    padding:.25rem 0;
    text-align: center;
    border:2px solid black;
    border-radius:4px;
}

main#container .main-section h3{
   margin: .5rem 1rem;
}

main#container .main-section .side-nav-container a:hover{
    cursor: pointer;
    color: blue;
}

/*form elements*/
input[type=text],
input[type=email],
input[type=tel],
input[type=date],
select,
textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
}

input[type=button],
input[type=submit],
button {
    background-color: #45a049;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #2a612d;
}