<h3 class="title">Apply for International Admissions</h3>
<div class="notify">
    Available Programs
</div>
<form action=""></form>
<select name="ddlProgram1" id="ddlProgram1" tabindex="1" required="">
    <option selected="selected" value="-1">- Select a Program -</option>
    <option value="131">Bachelor IT (CCN) Hons</option>
    <option value="201">Early Childhood Education</option>
    <option value="202">Recreation and Leisure Svcs.</option>
    <option value="203">Social Service Worker</option>
    <option value="205">Child and Youth Care</option>
    <option value="206">Community and Justice Services</option>
    <option value="207">Developmental Services Worker</option>
</select>

<button id="citizenship_status" onclick="onclick_loadform(event)">Next</button>
</form>